<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Welcome</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About Us</a>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
      </li>
      <li>
        <a href="/user/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron  text-center">
        <h1><span class="fa fa-lock"></span> Tours & Travel</h1>
        <p>Login or Sign Up with:</p>
        <a href="/user/dologin" class="btn btn-default"><span class="fa fa-user"></span>User Login</a>
        <a href="/user/dologin" class="btn btn-default"><span class="fa fa-user"></span>Admin Login</a>
        <a href="/user/dosignup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
    <div class="text-center">
        <p><a href="/">Tour & Travel </a>.</p>
    </div>
  </div>
</body>
</html>

